// ==========================================================================
// Object - Component - Logo
// ==========================================================================

.c-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  
  &:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  &--vanilla:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
  }
}

