// ==========================================================================
// Object - Component - Card
// ==========================================================================

@use "../../foundation" as *;

.c-title {
  font-weight: 700;
  font-size: prem(20);
  line-height: 1;
  color: red;
  @include mq("md") {
  }
}
