// ==========================================================================
// Object - Project - Sample Text
// ==========================================================================

.p-sample-text {
  // サンプルテキストプロジェクト固有のスタイルをここに記述
}

