// ==========================================================================
// Layout - Header
// ==========================================================================

.l-header {
  // ヘッダーレイアウトのスタイルをここに記述
}

